.button-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}

.sticky-button {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #ccc;;
    border-radius: 6px;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #010101;
    cursor: pointer;   
}


