.reviews {
    margin-top: 40px;
    &__description{
        display: flex;
    }
    
    &__descr {
        margin: 40px;
    }
    
    &__items {
        margin-top: 60px;
    }
    &__item {
        margin-top: 20px;
    }
    &_autor {
        min-width: 100px;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    
    &__text {
        margin-left: 30px;
    }
    &__img{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    img{
        max-width: 200px;
    }
}
